.cart{
  background-color: whitesmoke;
  padding: 20px 18px 18px;
  display: flex;
  gap: 10px;
}

.topLeftCart{
  padding: 20px 15px 15px;
  box-sizing: border-box;
  width: 77%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.topLeftCartTitle{
  font-size: 25px;

}

.deselectAllcart{
 
  color: #007185;
}

.cartPricesTextDivider{
  text-align: end;
}

.cartitemsdiv{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cartitemBlock{
 display: flex; 
 justify-content: space-between;
 padding: 20px;
 border-top:1px solid #e7e7e7;
}

.cartItemleftblock{
  display: flex;
  width: 80%;
}

.cartItemblockImage{
  width: 20%;
  flex-shrink: 0;
}

.cartItemLeftBlockingimg{
 width: 100%;
}

.cartitemLeftBlockDetails{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 7px;

}

.cartItemProductName{
  font-size: 18px;
}

.instockcard{
color: #007600;
font-size: 12px;
}

.elgfreeship{
  color: #565959;
  font-size: 12px;
}

.amazonefullfieldImg{
  width: 66px;
}
.fullfillImg{
  width: 100%;
}

.removefrombasket{
  padding: 5px;
  font-size: 14px;
  background-color: #febd69;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  
}

.cartItemRightBlock{
  font-size: 18px;
  font-weight: 600;
  box-sizing: border-box;
}

.topRightCart{
  padding: 20px 15px 15px;
  box-sizing: border-box;
  width: 23%;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.subTotalTitle{
  font-size: 18px;
  font-weight: 500;
}

.subTotalTitleSpan{
font-weight: 700;
}

.giftAddto{
  display: flex;
  margin: 10px 0;
}

.proceedToBuy{
  font-size: 14px;
  background-color: #febd69;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 500;
}